@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a{
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #310F67 -0.32%, rgba(119, 96, 157, 0.83) 105.5%), #565656;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: auto;
}

.container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    min-height: 100vh;
}


.fundo-btn{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.fundo-roxo{
    background-color: #1A0044;
    width: 14%;
    height: 75px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.btn-contatar{
    width: 70%;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(90deg, #3E00C2 0%, #08D110 100%);
    height: 50px;
    border: none;
    font-weight: 800;
    font-size: 26px;
    cursor: pointer;
}

.box-contatar{
    width: 100%;
    min-height: 650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.contato-logo{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contato-logo img{
    width: 190px;
    height: 190px;
}

.p-horizon{
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 3.0rem;
}
.contatar{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 650px;
}

.titulos{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 160px;
    gap: 10px;
}

.label-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
}

.label-input-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-input-msg textarea{
    width: 525px;
  height: 152px;
}

input{
    border-radius: 50px;
    background: #77609D;
    padding: 20px;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
}

textarea{
    border-radius: 50px;
    background: #77609D;
    padding: 20px;
    border: none;
    color: #fff;
    width: 95%;
    font-size: 1.5rem;
    resize: none;
}

label{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 4%;
}

.titulo1{
    color: #D0BEEB;
    margin: 0;
}

.titulo2{
    color: #D0BEEB;
    font-weight: 500;
    margin: 0;
}

.esqueci-senha{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link{
    color: #D0BEEB;
    text-decoration: none;
    font-size: 1.5rem;
}

.btn-entrar{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn-enviar{
    border-radius: 50px;
    background: #23005B;
    color: #fff;
    width: 60%;
    height: 70px;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    margin: 20px ;
}


::-webkit-input-placeholder {
    color: #d0beebc7;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #d0beebc7;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #d0beebc7;
 }
 
 :-ms-input-placeholder {  
    color: #d0beebc7;
 }


/* *{
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100vw;
    height: 100vh;
 
    background-image: url(../assets/cidadeCinza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container img{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    cursor: pointer;
}

.login, .cadastro, .recuperar-senha{
    z-index: 1;
    display: flex;
    flex-direction: column;

    width: 495px;
    height: 60%;
    background: #2b84d6;
    background: linear-gradient(238deg, rgba(43,132,214,1) 0%, rgba(16,55,90,1) 95%);

    border-radius: 37px;
    box-shadow: 1px 1px 2px 2px #00000040;


}

.recuperar-senha{
    height: 53%;
}
.icon-olho,.icon-olho-recuperar{
    width: 7%;
    height: 40px;
    position: absolute;
    left: 80%;
    top: 5px;

}



.cadastro{
    height: 68%;
}

.title{
   padding-top: 50px;
   padding-left: 35px;
    font-size: 46px;
    color: rgb(235, 235, 235);
    font-weight: 580;
}

.subtitle{
    font-size: 17px;
    color: #fdfafa;
    letter-spacing: 2px;
    font-weight: 100;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.label{
    font-size: 15px;
    font-weight: bold;
    color: #bebebe;
    padding-left: 44px;
    padding-bottom: 1px;
    padding-top: 3px;
}

.input{
    background-color: #D9D9D9;
    color: #383838;
    border: none;
    height: 45px;
    width: 400px;
    align-self: center;
    margin-bottom: 6px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
}

.button{
    align-self: center;
    width: 117px;
    height: 43px;
    font-size: 16px;
    background-color: #D9D9D9;
    padding-left: 10px;
    color: #707070;
    font-weight: 800;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 37px; 
    border-radius: 37px;
}

.button:active {
    transform: scale(0.9);
}
.button:hover{
    background-color: #9f9f9f;
    transition: all .8s;
    color: rgb(64, 64, 64);
}
#esqueciSenha, a{
    color: #949494;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: #bebebe;
    transition: all .5s;
}

.senha-container{
    position: relative;
    padding-left: 40px;

}

@media (max-width: 1366px) {

    .recuperar-senha {
        width: 30%;
        height: 450px;
    }

    .input {
        width: 85%;
    }

    .icon-olho, .icon-olho-recuperar {
        width: 7%;
        height: 40px;
        left: 77%;
    }


    .title {
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .recuperar-senha {
        width: 40%;
        height: 450px;
    }

}

@media (max-width: 768px) {
    .recuperar-senha {
        width: 45%;
        height: 450px;
    }

    .icon-olho, .icon-olho-recuperar {
        width: 7.5%;
        height: 35px;
        left: 76%;
    }

}

@media (max-width:620px){

    .recuperar-senha {
        width: 52%;
        height: 450px;
    }

    .icon-olho, .icon-olho-recuperar {
        width: 7.5%;
        height: 35px;
        left: 76%;
    }

} */
