@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #D9D9D9;
    font-family: "Anonymous Pro", monospace;
    padding: 0;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: inherit; 
    font: inherit; 
    background: none; 
    border: none; 
    padding: 0; 
    margin: 0;
    outline: none; 
}

html {
    scroll-behavior: smooth;
  }

img {
   -webkit-user-drag: none;
}

.container_inicial {
    height: 100vh;
    width: 100%;
}

.inicial_navbar {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    color: white;
    gap: 50vw;
}

.container {
    width: 85%;
    height: 100%;
}

.container2 {
    width: 100%;
    background-color: #272729;
    display: flex;
    align-items: center;
}

.inicial_informacoes {
    color: white;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicial_informacoes_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    flex-direction: column;
}

.inicial_informacoes_texto span {
    font-size: 28px;
}

.menu_navegacao{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-left: 2rem;
    gap: 3vw;
}

.alternada {
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.botoes_acesso{
    width: 47%;
    padding-top: 25px;
    gap: 4rem;
    display: flex;
    justify-content: right;

}

.menu_navegacao ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 4rem;
    padding: 0;
}

.menu_navegacao a li {
    list-style: none;
    font-size: 1.2rem;
}

.menu_navegacao img {
    width: 5vw;
    height: auto;
}

.container_inicial2 {
    height: 100%;
    color: white;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/henry-chen-ZwRCXGkv30w-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicial_img {
    background-color: #D9D9D9;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_informacoes_imagem_inicial {
    display: flex;
    justify-content: center;
    padding-left: 25%;
    padding-top: 10%;
    align-items: center;
    width: 20vw;
    gap: 27rem;
}

.container_informacoes {
    padding-top: 10%;
}

.informacoes_titulo {
    display: flex;
    flex-direction: column;
    font-size: 50px;
}

.container_imagem_inicial {
    display: flex;
    justify-content: right;
    width: 20vw;
}

.container_imagem_inicial img {
    width: 20rem;
    height: 15.5rem;
}

.container_quemSomos {
    width: 99vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    color: black;
}

#container_quemSomosID {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quemSomos_img img {
    width: 100%;
    height: 100%;
}

.quemSomos_informacao_texto {
    width: 70%;
    display: flex;
    flex-direction: column;
} 

.quemSomos_informacao_texto p {
    font-weight: bold;
    font-size: 1.5rem;
}

.quemSomos_informacao_texto span {
    font-size: 1.3rem;
}

.container_sobreServico {
    width: 99vw;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.sobreServico_produto {
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.4vw;
}

.sobreServico_produto p {
    font-weight: bold;
    font-size: 25px;
}

.sobreServico_produto span {
    font-size: 20px;
}

.sobreServico_produto img {
    object-fit: contain;
    height: 6rem;
}

#footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(148,189,244,1) 0%, rgba(48,79,121,1) 10%);
    width: 100%;
    height: 210px;
    padding-top: 2%;
}

#footer .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.alinhaFooter {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 225px;
    justify-content: flex-start;
}

.alinhaFooterRede {
    display: flex;
    flex-direction: column;
    width: 20%;
}


.navegacaoFooter ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
}

.navegacaoFooter ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacaoFooter ul li {
    padding-top: 5%;
}

.navegacaoFooter ul li a:hover{
    color: rgba(255, 255, 255, 0.692)
}

.imagensRedesSociais {
    margin-right: 20px;
    width: 40px;
}

.imagensLogo{
    margin-right: 20px;
    width: 40%;
}

.btns{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.logo_tela{
    display: flex;
}

.card_tela_inicial{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.card_tela_inicial img{
    position: static;
    width: 100%;
    height: auto;
}

.titulo{

    font-size: 80px;
    font-weight: bold;
    padding-left: 10%;

}

.btns button{
    width: 6vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
    border-style: none;
    background-color: #0092E4;
    color: white;
    font-family: "Anonymous Pro", monospace;
}

.btns button:hover {
    background-color: #304f79;
    transition: 0.4s;
}